{% extends "base.html.twig" %}

{% block title %}Inventarisierung{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inventarisierung</h1>
        {{dump(data)}}
        {% if newDevice %}
            <div class="alert alert-info" role="info">
                Neues Gerät wurde angelegt
            </div>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}
