{% extends "base.html.twig" %}

{% block title %}Inventarisierung{% endblock %}

{% block body %}
    <h1>Inventarisierung</h1>
    <form> 
        <button type="button">Neues Gerät anlegen</button>
    </form>
{% endblock %}
