{% extends "base.html.twig" %}

{% block title %}Neues Gerät anlegen{% endblock %}

{% block body %}
    <div class="container">
        <h1>Neues Gerät anlegen</h1>
        
        {% if newDevice %}
            <div class="alert alert-info" role="info">
                Neues Gerät wurde angelegt
            </div>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}
