{% extends "base.html.twig" %}

{% block title %}Uebersicht{% endblock %}

{% block body %}
    <h1>Defekte Geräte</h1>
    
	  <table class="table table-striped table-hover">
		<thead>
		  <tr href="google.de">
                        <th>Id</th>
			<th>Gerät</th>
			<th>Beschreibung</th>
		  </tr>
		</thead>
		<tbody>
                  {% if tickets is defined %}
                    {% for item in tickets %}
                      <tr>
                          {% if item['id'] is defined %}
                            <td>{{item['id']}}</td>
                          {% else %}
                              <td></td>
                          {% endif %}
                          {% if item['device'] is defined %}
                            <td>{{item['device']}}</td>
                          {% else %}
                              <td></td>
                          {% endif %}
                          {% if item['description'] is defined %}
                            <td>{{item['description']}}</td>
                          {% else %}
                              <td></td>
                          {% endif %}
                      </tr>
                    {% endfor %}
                  {% endif %}
		</tbody>
	  </table>
{% endblock %}
