{% extends "base.html.twig" %}

{% block title %}Inventar verwalten{% endblock %}

{% block body %}
    <h1>Inventar verwalten</h1>
    <form> 
        <button type="button">Inventar verwalten</button>
    </form>
	         
            
	  <table class="table table-striped table-hover">
		<thead>
		  <tr href="google.de">
			<th>Gerät</th>
			<th>Raum</th>
			<th>Datum</th>
		  </tr>
		</thead>
		<tbody>
                  {{dump(devices)}}
		  {% for item in devices %}
                    <tr>
                        <td>{{item['name']}}</td>
                        {#{% for field in fields %}
                            <td>{{ attribute(item, field) }}</td>
                        {% endfor %}
                        {{item[id]}}#}
                        
                    </tr>
                  {% endfor %}
		</tbody>
	  </table>

{% endblock %}
