{% extends "base.html.twig" %}

{% block title %}Uebersicht{% endblock %}

{% block body %}
    <h1>Defekte Geräte</h1>    
            
	  <table class="table table-striped table-hover">
		<thead>
		  <tr href="google.de">
			<th>Gerät</th>
			<th>Raum</th>
			<th>Beschreibung</th>
		  </tr>
		</thead>
		<tbody>
                  
		  {% for item in devices %}
                    <tr>
                        <td>{{item['name']}}</td>
                        <td>{{item['location']['name']}}</td>
                        <td>{{item['description']}}</td>
                       
                    </tr>
                  {% endfor %}
		</tbody>
	  </table>

{% endblock %}
