{% extends "base.html.twig" %}

{% block title %}Uebersicht{% endblock %}

{% block body %}
    <h1>Übersicht Geräte</h1>    

	  <table class="table table-striped table-hover">
		<thead>
		  <tr href="google.de">
			<th>Gerät</th>
			<th>Raum</th>
			<th>Beschreibung</th>
		  </tr>
		</thead>
		<tbody>
                  {% if devices is defined %}
                    {% for item in devices %}
                      <tr>
                          {% if item['name'] is defined %}
                            <td>{{item['name']}}</td>
                          {% else %}
                              <td></td>
                          {% endif %}
                          {% if item['location']['name'] is defined %}
                            <td>{{item['location']['name']}}</td>
                          {% else %}
                              <td></td>
                          {% endif %}
                          {% if item['description'] is defined %}
                            <td>{{item['description']}}</td>
                          {% else %}
                              <td></td>
                          {% endif %}
                      </tr>
                    {% endfor %}
                  {% endif %}
		</tbody>
	  </table>

{% endblock %}
